@import 'inc/reset.css';
@import 'inc/measures';
@import 'inc/colors';
@import 'inc/mixins';
@import 'inc/common';
@import 'inc/layout';
@import 'inc/text';
@import 'inc/controls';
@import 'inc/base.css';
@import 'inc/tweet';


hgroup#banner{
    margin-bottom: @gutter * 6 + 4;

    h1{
        font-family: @heading-font;
        font-size: @gutter * 5;
        line-height: @gutter * 10 + 2;
        .heading;
    }

    h2{
        .subheading;
    }
}


#rightpane {

    header, footer{
        section{
            padding-bottom: @gutter;
            margin-top: @gutter * 2 - 1;
            .boxshadow(-4px, 4px, 6px, @shade);
            background-color: @clear;
            display:block;
        }
    }

    aside{
        line-height: @gutter * 2;
        padding: @gutter - 1 @gutter * 2;

        p {
            padding: @gutter / 2;
        }
    }

    h1, dt{
        .subheading;
        padding: 16px 16px 0;
        .boxshadow(-3px, -4px, 4px, @shade);
        margin:0;
        border-bottom: 1px solid @shade;
        line-height: @gutter * 4 - @gutter * 0.25;
    }

    footer section p{
        font-size: normal;
        padding: @gutter * 1.5 - 1 @gutter * 2;
    }
}


#products {

    margin-top: @gutter + @gutter / 2;
    .boxshadow(-4px, -4px, 6px, @shade);
    background-color: @clear;

    p, ul {
        margin: 0;
        padding: 0;
        margin-bottom: @gutter;
    }

    dd{
        margin-top: 1px;
        padding: @gutter * 1.25 @gutter * 2;
        padding-bottom: @gutter * 2 - 1 - @gutter / 2 + 2;
    }

    img {
        float:left;
        vertical-align:center;
        margin-top: @gutter;
        margin-bottom: @gutter;
        width: 128px; 
        margin-right: @gutter;
    }
}

@import 'inc/media.css';