@import 'inc/reset.css';
@import 'inc/measures';
@import 'inc/colors';
@import 'inc/mixins';
@import 'inc/common';
@import 'inc/layout';
@import 'inc/text';
@import 'inc/controls';
@import 'inc/base.css';
@import 'inc/tweet';


hgroup#banner{
    margin-bottom: @gutter * 4 + 2;
    padding-bottom: @gutter * 2;
    h1{
        background: transparent url({{ media_url('images/art/ringce-logo.png') }}) no-repeat left center;
        padding-left: @column + @gutter;
        font-family: @heading-font;
        font-size: @gutter * 5;
        line-height: @gutter * 10;
        .heading;
    }

    h2{
        .subheading;
    }
}


#rightpane {

    header, footer{
        margin: @gutter 0;
        background-color: @clear;
        .rightbox .box;
        padding:0;
    }

   
    h1, dt{
        .subheading;
        padding: @gutter * 1.25 @gutter * 2 2px;
        .boxshadow(-3px, -4px, 4px, @shade);
        margin:0;
        border-bottom: 1px solid @clear - 10;
        line-height: @gutter * 4;
    }

    header section{
        padding-bottom: @gutter;
        margin-bottom: @gutter * 1.5;
        p {
            padding: @gutter @gutter * 2;
        }
    }
    
    footer{
        margin-top: @gutter * 1.75;
        small{
            margin-top: @gutter;
        }
    }
}


#products {

    margin-top: @gutter + @gutter / 2;
    .boxshadow(-4px, -4px, 6px, @shade);
    background-color: @clear;

    p, ul {
        margin: 0;
        padding: 0;
        margin-bottom: @gutter;
    }

    dd{
        padding: @gutter @gutter * 2;
        padding-bottom: @gutter * 2 - 1 - @gutter / 2 + 2;
    }

    img {
        float:left;
        vertical-align:center;
        margin-top: @gutter;
        margin-bottom: @gutter;
        width: 128px;
        margin-right: @gutter;
    }
}

@import 'inc/media.css';