@import 'inc/reset.css';
@import 'inc/measures';
@import 'inc/colors';
@import 'inc/mixins';
@import 'inc/layout';
@import 'inc/text';
@import 'inc/controls';
@import 'inc/base.css';
@import 'inc/tweet';

a {
    color: @darkest;
    text-decoration: underline;
    text-shadow: 0px 1px 0px @clear;
}

a:hover {
    color: @darker;
    text-shadow: 0px 1px -1px @clear;
}


body{
    font-family: @text-font;
    color: @darker;
    background-color: @dark;
}

.subheading{
    font-family: @subheading-font;
    font-size: 24px;
    font-weight: normal;
    color: @darkest;
}

hgroup#banner{
    margin-bottom: @gutter * 6 + 2;
}

hgroup#banner h1{
    margin-top: @gutter * 2 + 1;
    font-family: @heading-font;
    font-size: 64px;
    line-height: @gutter * 10;
    color: @darker;
    text-shadow: 2px 1px 1px @darker;
    .heading;
}

hgroup#banner h2{
    .subheading;
}

#rightpane header,
#rightpane footer{
    margin-top: @gutter * 4;
    .boxshadow(-4px, 4px, 6px, @shade);
    background-color: @light;
    display:block;
}

#products{
    margin-top: @gutter * 5;
    .boxshadow(-4px, -4px, 6px, @shade);
    background-color: @light;
}

#rightpane h1,
#products dt{
    .subheading;
    padding: 16px 16px 0;
    .boxshadow(-3px, -4px, 4px, @shade);
    margin:0;
    border-bottom: 1px solid @shade;
    line-height: 44px;
}

#rightpane aside{
    font-weight: 300;
    line-height: 24px;
    padding: @gutter @gutter * 2;
}

#rightpane aside p{
    padding: @gutter / 2;
}

#products dd{
    font-weight: 300;
    padding: 16px;
    line-height: 24px;
    padding-bottom: @gutter * 2 - @gutter / 2;
}

#products p,  #products ul {
    margin-bottom: @gutter;
}

#products img {
    float:left;
    vertical-align:center;
    margin-top: @gutter;
    margin-bottom: @gutter;
    margin-right: @gutter * 3;
}

@import 'inc/media.css';