@import 'inc/reset.css';
@import 'inc/measures';
@import 'inc/colors';
@import 'inc/mixins';
@import 'inc/common';
@import 'inc/text';
@import 'inc/controls';
@import 'inc/colophon';
@import 'inc/tweet';
@import 'inc/base.css';
@import 'inc/nav';

body{
    min-height: 1224px;
}

.tweet{
    .boxshadow(0, 0, 0, 0);
    width: @column * 13;
    margin-top: @gutter * 2;
    a{
        text-shadow: none;
    }
    float: left;
}

#container{
    background-color: @dark;
    width: @column * 24;
    margin: 0 auto;
}

#pane{
   text-shadow: @light + 20 0px 1px 0px;
   background: @clear;
   .boxshadow(@gutter, @gutter, @gutter * 2, @shade);
   .radiusBottom(@gutter);
   p {
       position: relative;
       line-height: @gutter * 2;
       display: block;
       float: left;
       width: @column * 6;
       margin-right: @column;
       margin-bottom: @gutter * 2;

       &.blurb{
           clear: both;
           float: none;
           font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
           font-weight: 100;
           font-size: @gutter * 2;
           line-height: @gutter * 3;
           width: @column * 13;
       }
   }

   p.pop{
       width: @column * 2;
       cursor: pointer;
       img{
           margin-top: @column * -1;
           width: 200px;
           height: 200px;

           &.wide{
               width: 300px
           }
       }
   }

   hr{
       clear:both;
   }

   h2 {
       font-size: @gutter * 1.5;
       line-height: @column;
   }

   a.ringce-home{
       display: block;
       float: right;
       margin-top: @column;
       text-decoration: none;
   }

   header, article{
       margin: 0 @column * 2;
   }

   aside {
       padding: 0 @column * 2 @column;
       background-color: @clear;
       .radiusBottom(@gutter);
   }

}

#banner{
    color: @darkest;
    font-family: helvetica, arial, sans-serif;
    h1{
        clear: both;
        font-size: @column * 2;
        line-height: @column * 3;
        padding: 0;
        margin: 0;
    }

    h2{
        font-size: @gutter * 2.5;
        font-weight: normal;
        line-height: @column;
        margin-left: @gutter;
        margin-bottom: @column * 1;
    }

    hgroup {
        float: left;
    }
}


#download-buy {
    margin-top: @column;
    float:right;
    .notes, > span { font-size: 12px; }
    .button{
        font: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        min-width:0;
        text-align: center;
        display: block;
    }
    .buy { width: 64px; }
    .download { width: 102px; }
    .download{ clear:both; margin-top: 20px; }
    span { display:block; float: left; }
    .dld-btn, .buy-btn {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 8px;
    }
    .version, .price{
        text-align:center;
        padding-left: 8px;
    }
    a:hover{
        text-decoration:none;
    }
}

.resources {
    li {
        width: @column * 3;
        float: left;
        margin-right: @column;
        
        &#videos{
            width: @column * 5;
            margin-right: @gutter * 2;
        }
    }

    li:last-child{
        margin-right: 0;
    }
}

#slideshow li {
    display:none;

    &:first-child{
        display:block;
    }
}

.video_thumbnail{
    
    width: 200px;
    height: 120px;
    background: @darkest url([[!!images/play.png]]) no-repeat 50% 50%;
    .radius(@gutter);
    cursor: pointer;
}


@import 'inc/media.css';