html {
    background-color: #333;
}

body {
    margin: 0;
    color: #333;
    height: 100%;
    width: 100%;
}

#hyde-site {
    position: relative;
    width: 47em;
    height: 36em;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #649064;
    border-right:1em solid #333;
    border-left:1em solid #333;
    padding-left:1em;
}

#hyde-site .hyde-left {
    float: left;
    height: 36em;
    width: 13em;
    max-width: 30%;
    background-image: url( '{{site.url}}/media/images/hyde-egg.png');
    background-repeat: no-repeat;
    background-position: 0 10em;
}

.hyde-left #hyde-tidbits {
    font-size: .625em;
    color: #b9e3b5;
    margin-top: 48em;
}

.hyde-left #ringce-logo {
    font-size: .625em;
    margin-top: 2em;
    background: #333 url('{{site.url}}/media/images/ringce-icon.png') no-repeat 50%;
    height: 8em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

#hyde-site .hyde-main {
    font-size: 1.562em;
    float: left;
    width: 20em;
    max-width: 70%;
    font-family: 'Lucida Grande' ,Lucida,Verdana,sans-serif;
}

#hyde-site .hyde-main .hyde-head {
    width: 20em;
    height: 8em;
    background-image: url('{{site.url}}/media/images/hyde.png');
    background-repeat: no-repeat;
    background-position: 0 1.250em;
}

#hyde-site .hyde-main .hyde-center {
    padding-left: 4em;
}
#hyde-site .hyde-main .hyde-center>ul {
    margin-bottom: 1.250em;
}

#hyde-site .hyde-main .hyde-center>ul li {
    line-height: 50px;
    list-style-type: none;
    color: #b9e3b5;
    font-variant: small-caps;
}

#hyde-site .hyde-main .hyde-center>ul li li {
    font-size: 15px;
    line-height: 20px;
    font-variant: normal;
}

#hyde-footer {
    width: 50em;
    margin: 0 auto;
    background-color: #333;
    height: 12em;
}

#hyde-footer .status_badge {
    background-color: #b9e3b5;
    color: #333;
    width: 5em;
    -webkit-border-radius: .5em;
    margin: 0.1em auto;
    line-height: 2em;
}

#hyde-footer>div {
    float: left;
    color: #b9e3b5;
    width: 8em;
    height: 6em;
    text-align: center;
    padding: 2em;
    float: left;
    line-height: 2em;
    padding-top: 2em;
}
#hyde-footer .status_badge{
    margin-top: 1.5em;
}
#hyde-footer .download img, 
#hyde-footer .source img {
    margin-top: 0.5em;
}
