body {
    background-color: #649064;
    color: #333;
    font-family:"Helvetica", "Helvetica Nueue", Verdana, Arial;
} 

h2{
    color: #649064;
}             

h3{
  padding-left:.5em;
}

.slammer-page{    
    width: 1005px;    
    margin: 0 auto;        
}

.slammer-header {
    height: 11.3em;
    background-color: #333;
    text-align:center;
}                         

.slammer-header .slam{
   float: left;                                            
   width: 30em; 
   border: 1em solid #333;  
   border-top:0;
}

.slammer-header .heading {
    background: #FFF url(/media/images/slammer-gridbg.png);
    padding: 1em 0;
}

.slammer-header h1 {
    font-size: 5em;
    border-bottom: .1em solid #333;
}

.slammer-header .subtitle {
    color: #333;
    font-size: 1.5em;
}

.slammer-header .slammer-logo {
    float: left;
    padding:1.6em 2em;
    width: 11.45em;
}   

.slammer-header .ringce-logo{
    float:left;
    padding: 1em 1.5em;
    width: 11.45em;

}

.slammer-info {
    background-color: #649064;
    height: 2.2em;
    width: 30em;
    margin: 0 auto;
}

.slammer-info span {
    display: block;
    float: left;
    margin: 0;
    padding: .5em;
    color: #b9e3b5;
    text-align:center;
    width: 8em;
}

.slammer-info .slammer-download { 
    font-weight: bold; 
    width: 10em;
}

.slammer-content {
    border: 1px solid #333;    
    padding:2em;
    padding-top:3em;
    background: #b9e3b5; 
}

.slammer-content  .cap{    
    margin: 0 auto;  
    width:22em;   
    margin-top:1.5em;
}               

.slammer-content ul{
    margin-left: 2em;  
}

.slammer-content a{
    color:#b9e3b5;
}

.slammer-content h2{
    background: #649064;
    color:#333;
    margin:0;  
    padding: 0.5em 0 0 0.5em;     
}   

.right-column,
.left-column{
    color:#649064;
    background-color:#333; 
    float:left;
    width:24.2em;
    height: 24em;
    line-height: 2em;
    font-size:0.8em;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;  
    margin:0; 
    border: 1px solid #b9e3b5;
    padding:0;
}                

.right-column p,
.left-column p{            
    padding-left:1em;
    padding-right:1em;
}

.slammer-footer{    
    padding:0.5em;
    text-align:center;
}