
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #4D804D;
    color: #333;
    font-family: "Helvetica";
} 

.slammer-page{    
    width: 960px;    
    margin: 0 auto;        
}

.slammer-header {
    height: 171px;
    background-color: #333;
    text-align:center;
}                         

.slammer-header .slam{
   float: left;                                            
   width: 480px; 
   border: 30px solid #649064;     
   border-top:0;
   border-bottom:0;
   background-color:#333;  
}

.slammer-header h1 {
    padding-top:38px;
    font-size: 96px;
    height: 100px;
    background: #FFF url(/media/images/slammer-gridbg.png);
}

.slammer-header .subtitle {
    color: #649064;
    font-size: 16px;
    padding: 8px; 
    height: 18px; 
    font-variant:small-caps;
    letter-spacing: 1px;
}                            

.slammer-header .slammer-logo {
    float: left;
    width: 180px; 
    padding: 20px;
}   

.slammer-header .ringce-logo{
    float: left;
    width: 180px; 
    padding:10px 10px;
}   

.slammer-info {
    background-color: #649064;
    height: 33px;
    width: 480px;
    margin: 0 auto;
}

.slammer-info span {
    display: block;
    float: left;
    margin: 0;
    padding: 8px 0;
    color: #b9e3b5;
    text-align:center;
    width: 140px;
}

.slammer-info .slammer-download { 
    background-color: #333;    
    width: 200px;
}

.slammer-info .slammer-download a{
    color: #b9e3b5; 
    letter-spacing:2px;
}

.slammer-content {
    border: 1px solid #333;    
    padding: 20px;
    padding-top: 60px;    
    background: #b9e3b5;
    width: 918px; 
    height: 670px;
}

.slammer-content h2{
    background: #333;
    color:#b9e3b5;
    letter-spacing: 2px;
    font-weight:normal;
    font-size: 16px;   
    text-align:center;
    margin:0;  
    padding: 10px 0;      
}   
 
.slammer-column{
    color: #333;
    background-color: #649064; 
    float: left;
    width: 297px;
    height: 670px;
    line-height: 20px;
    font-size: 12px;
    margin: 0; 
    padding: 0;
    overflow:hidden;
}

#slammer-presets img,
#slammer-screenshots img{
    margin: 15px 5px;     
    padding: 1px;  
    height: 64px;
}  
#slammer-presets img:hover,
#slammer-screenshots img:hover{
    background-color: #b9e3b5;
}

#slammer-screenshots,
#slammer-presets{
    width: 160px;
    border-right:1px solid #333;        
}

#slammer-presets,
#slammer-screenshots{
   border-left:1px solid #333;            
}   

#slammer-presets .download{
}                         

#slammer-presets .download IMG{
    height:64px; 
    background-color:#333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: 32px;
}   

#slammer-features,
#slammer-overheard{
    border:0;
}              

#slammer-features li{
    height: 120px;
}

#slammer-overheard li,
#slammer-features li{
  background-color: #b9e3b5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 12px;
  padding: 10px;
}                     

#slammer-overheard h3,
#slammer-features h3{
    text-align: center;
    padding: 5px;
}

#slammer-overheard a{
    color: #333; 
    font-weight:bold;
}

.slammer-column p{            
    padding-left:1em;
    padding-right:1em;
}

.slammer-footer{  
    width: 960px;
    margin: 0 auto;  
    padding: 8px 0;
    text-align:center;
    background-color:#333;
}