{% extends "_post.html" %}

{%hyde
    title: Installing Py on Leopard
    created: 2009-02-07 02:50:49
%}

{% block article %}

{%article%}

{%excerpt%}

Installing [py]({{links.py}}) on Max OS X Leopard is really easy. It's as easy as `sudo easy_install py`, if you have the latest version of `setuptools` installed. `py` requires a more recent version(0.6C8) of setup tools than the one thats available in System Frameworks(0.6C7). Well, thats not too bad, we can just upgrade `setuptools`.

However, there are a couple of problems associated with upgrading setup tools:

1. `easy_install` installs its packages to `/Library/Python/<version>/site-packages`
2. The `easy_install` command itself is dependent on `setuptools` and this points to the older version under System Frameworks

After some google time, I was unable to find an easy way to upgrade `setuptools`. So I went into hack mode and got it to work. I really hope there is a better method than this:

1. Upgrade setuptools

    You can do this either by downloading the [latest setuptools package]({{links.setuptools}}) or using the `sudo easy_install -U setuptools` command. 
    
2. Find the easy_install executable script.

    It's probably at `/usr/bin/easy_install`
    
3. Edit the file and update all the references of setuptools to point to the latest version. `s/0.6C7/0.6C9`
4. Now `sudo easy_install py` should just work.


{%endexcerpt%}

{%endarticle%}

{%endblock%}
