{% extends "skeleton/_root.html" %}
{% block all %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block css %}
	<link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" charset="utf-8">
	{% block extra_css %}{% endblock %}{% endblock %}{% block js %}
	<script src="{{site.url}}/media/js/jquery.js"></script>
	<script src="{{site.url}}/media/js/jqueryui.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{site.url}}/media/js/jquery.ui.badge.js" type="text/javascript" charset="utf-8"></script>
	{% block extra_js %}{% endblock %}{% endblock %}
</head>
<body>
<div id="site">	
    {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
</div>
{% include "skeleton/_footer.html" %}
</body>
</html>
{% endblock %}