{% extends "skeleton/_root.html" %}
{% block all %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block feed %}<link href="http://feeds2.feedburner.com/ringcecode" rel="alternate" title="Ringce Code" type="application/atom+xml" />
	<link href="http://feeds2.feedburner.com/ringceblog" rel="alternate" title="Ringce Blog" type="application/atom+xml" />
	{% endblock %}
	{% block css %}
	<link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" charset="utf-8">
	{% block extra_css %}{% endblock %}{% endblock %}{% block js %}
	<script src="{{site.url}}/media/js/jquery.js"></script>
	<script src="{{site.url}}/media/js/jqueryui.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{site.url}}/media/js/jquery.ui.badge.js" type="text/javascript" charset="utf-8"></script>
	{% block extra_js %}{% endblock %}{% endblock %}
</head>
<body>
<div id="site">	
    {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
</div>
{% include "skeleton/_footer.html" %}
{% block endbody %}{% endblock %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-322025-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
{% endblock %}