<div id="header">
    <a href="{{site.url}}/ringce.html">
        <img src="{{site.url}}/media/images/ringce.png">
    </a> 
    <div class="feeds">
        <a href="http://feeds2.feedburner.com/ringcecode">
            <span>Code</span>
            <img src="{{site.url}}/media/images/rss.png"/>            
        </a>
        <a href="http://feeds2.feedburner.com/ringceblog">
            <span>Blog</span> 
            <img src="{{site.url}}/media/images/rss.png"/>
        </a>  
    </div>
</div>
