{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
{{node.name|unslugify}}
{% if node.has_listing %}</a>{% endif %}
<ul>
    {% for list_page in node.pages %}
    {% ifnotequal list_page node.listing_page %}
    {% if first %}
    {% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}
    <li><a href="{{list_page.url}}">{{list_page.title|default_if_none:default_title }}</a></li>
    {%endwith%}
    {% endifnotequal %}
    {% endfor %}
</ul>
<ul>
{% with node as parent%}        
{% for node in parent.children %}
    <li>
    {% include "skeleton/_innerlisting.html" %}
    <li>
{% endfor %}
{% endwith %}
</ul>
