{% extends "skeleton/_root.html" %}
{% block all %}
{%spaceless%}
<ul>
    {% for list_page in node.pages %}
    {% ifnotequal list_page node.listing_page %}
    {% if list_page.display_in_list %}
    <li>
        {%with list_page as page %}
        {%include "skeleton/_content_header.html"%}
        {%endwith%}
        {% if  page.excerpt %}
        <div class="page-excerpt">
        {% render_excerpt list_page %}
        </div>
        <div class="page-excerpt-footer">
            {%with list_page as page %}
            {% include "skeleton/_breadcrumbs.html" %}
            {%endwith%}
            <a href="{{list_page.url}}">Read More ...</a>
        </div>
        {%endif%}
    </li>{%endif%}{% endifnotequal %}{% endfor %}
</ul>
{%endspaceless%}
{% endblock %}