{% extends "skeleton/_body.html" %}
{% block extra_css %}<link type="text/css" rel="stylesheet" href="{{site.url}}/media/css/SyntaxHighlighter.css"></link>{% endblock %}
{% block extra_js %}
<script language="javascript" src="{{site.url}}/media/js/shCore.js"></script>
<script language="javascript" src="{{site.url}}/media/js/shBrushJScript.js"></script>
{% block extra_extra_js %}{% endblock %}
<script type="text/javascript" charset="utf-8">
 $(function(){
	dp.SyntaxHighlighter.ClipboardSwf = '{{site.url}}/media/flash/clipboard.swf';
	dp.SyntaxHighlighter.HighlightAll('code');
	{% block ready_function %}
	{% endblock %}
});
</script>
{% endblock %}
{% block content_body %}
<div id="post-content">
{% excerpt %}
	{% include "_code-meta.html" %}
{% endexcerpt %}
	{% block article%}{% endblock %}
</div>
{% endblock %}