{% import "widgets.j2" as widgets -%}
<!doctype html>
<html lang="en">
<head>
  {% block starthead scoped -%}{%- endblock starthead %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title -%}{{ resource.meta.title }}{%- endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block favicons -%}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {%- endblock favicons %}

  {% block typekit -%}
    <script type="text/javascript" src="http://use.typekit.com/hyw1bsz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {%- endblock %}

  {% block css -%}{%- endblock css %}

  {% block headjs -%}
    <script src="{{ media_url('js/head.min.js') }}"></script>
  {%- endblock headjs %}
  {% block endhead -%}{%- endblock endhead %}
</head>
<body id="{{ resource.id if resource.id else resource.name_without_extension }}">
  {% block content -%}
  <div id="container">
      {% block container -%}
      <div id="main" role="main">
          {% block main -%}{%- endblock main %}
      </div>
      <footer>
    </footer>
    {%- endblock container %}
  </div>
  {%- endblock content%}
  {% block startjs -%}{%- endblock startjs %}
  {% block jquery -%}
  <script type="text/javascript">
  head.js({jquery: 'http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js'});
  </script>
  {%- endblock jquery %}

  {% block endjs -%}{%- endblock endjs %}

  {% block analytics -%}{% include "analytics.j2" -%}{%- endblock analytics %}

</body>
</html>