{%if in_development_mode %}
<!-- yui profiler and profileviewer - remove for production -->
<script src="{{ media_url('js/profiling/yahoo-profiling.min.js') }}"></script>
<script src="{{ media_url('js/profiling/config.js') }}"></script>
<!-- end profiling code -->
{% endif %}