<nav>
    <ul>
        <li><a href="{{ content_url('/') }}">Ringce</a></li>
        <li><a href="{{ content_url('/news') }}">News</a></li>
        <li><a href="{{ content_url('/articles') }}">Articles</a></li>
        <li><a href="{{ content_url('/projects') }}">Projects</a></li>
    </ul>
</nav>