{% extends "base.html" %}
{% block main %}
<div id="leftpane">
    {% block leftpane %}
    <header>
        {% block lheader %}
        <hgroup id="banner">
            <h1>Ringce</h1>
            <h2>Software organs for modern humans</h2>
        </hgroup>
        {% endblock lheader %}
    </header>
    <div id="lcontent"><article>{% block lcontent %}{% endblock %}</article></div>
    <footer>{% block lfooter %}{% endblock %}</footer>
    {% endblock leftpane %}
</div>
<div id="rightpane">
    {% block rightpane %}
    <header>
        {% block rheader %}{% block twitter %}
        <section>
        <div class="tweet"></div>
        </section>
        <br class="clear"/>
        {% endblock twitter %}{% endblock rheader %}
    </header>
    <div id="rcontent">
        {% block rcontent %}{% endblock rcontent %}
    </div>
    <footer>
        {% block rfooter %}{% block about %}
        <section id="about">
            <h1>About Ringce</h1>
            {{ resource.meta.about|markdown|typogrify }}
        </section>
        {% endblock about %}
        <small>{{ resource.meta.footnote|markdown|typogrify }}</small>
        {% endblock rfooter %}
    </footer>

    {% endblock rightpane %}
</div>
<br class="clear"/>
{% endblock %}

{% block js %}

{{ super() }}

<script src="{{ media_url('js/jquery.tweet.js') }}"
        type="text/javascript"></script>

<script type="text/javascript">
$(function(){
     $(".tweet").tweet({username:'lakshmivyas', count: 2});
});
</script>

{% endblock %}