{% extends "base.j2" %}
{% block main %}
<div id="leftpane">
    {% block leftpane %}
    <header>
        {% block lheader %}
        <nav>
            <ul>
                <li><a href="{{ content_url('/') }}">Home</a></li>
                <li><a href="{{ content_url('/news') }}">News</a></li>
                <li><a href="{{ content_url('/articles') }}">Articles</a></li>
                <li><a href="{{ content_url('/projects') }}">Projects</a></li>
            </ul>
        </nav>
        <hgroup id="banner">
            <h1>Ringce</h1>
            <h2>Software organs for modern humans</h2>
        </hgroup>
        {% endblock lheader %}
    </header>
    <div id="lcontent"><article>{% block lcontent %}{% endblock %}</article></div>
    <footer>{% block lfooter %}{% endblock %}</footer>
    {% endblock leftpane %}
</div>
<div id="rightpane">
    {% block rightpane %}
    <header>
        {% block rheader %}{% block about %}
        <section id="about">
            <h1>About Ringce</h1>
            {% includetext "blurbs/about.md" %}
        </section>
        {% endblock about %}{% endblock rheader %}
    </header>
    <div id="rcontent">
        {% block rcontent %}{% endblock rcontent %}
    </div>
    <footer>
        {% block rfooter %}{% block twitter %}
        <section>
        <div class="tweet"></div>
        </section>{% endblock twitter %}
        {% endblock rfooter %}
    </footer>

    {% endblock rightpane %}
</div>
<footer>
<small class="colophon">{% includetext "blurbs/footnote.md" %}</small>
</footer>
<br class="clear"/>
{% endblock %}

{% block endjs %}

{{ super() }}

<script type="text/javascript">

head('jquery', function(){

    head.js({tweet: "{{ media_url('js/jquery.tweet.js') }}"});

    head('tweet', function(){
        $(".tweet").tweet({username:'lakshmivyas', count: 2});
    });

});

</script>

{% endblock %}