{% extends "_post.html" %}
{%hyde
    title : About Everything
%}


{% block article %}

### About Ringce ###

Ringce is actually 5 Rings. Its inspired by [A Book of Five Rings]({{links.5RingsBook}}) by [Miyamoto Mushashi]({{links.Mushashi}}). I find the core idea of grouping swordplay strategies in line with 5 elements(Ground, Water, Fire, Wind and Void) fascinating. I believe that the same can be applied to software development or [anything in life]({{links.NatureTedTalk}}). Ringce is an exercise in applying this core idea to code, design and business.

### About Ringce.com ###

Ringce.com is a complex dynamic website rendered statically using the following tools:

1. [Hyde]({{site.url}}/products/hyde/hyde.html) was used for generating a static website from a complex dynamic template system.
2. Lot of the text is written using [markdown]({{links.Markdown}})
3. Icons and images were drawn using Adobe Illustrator.
4. Every character was typed in [Textmate]({{links.Textmate}}) reinforced with:
     * [ProjectPlus]({{links.ProjectPlus}})
     * [Javascript Lint]({{links.JavascriptLint}})
     * [PyCheker]({{links.PyChecker}}) 
5. Initial styling was done with [CSSEdit]({{links.CSSEdit}})
6. Tweaking was done with [Xylescope]({{links.Xylescope}})
7. [Firebug]({{links.Firebug}}) and [Webkit]({{links.Webkit}}) Inspector were extensively used.
8. [IPython]({{links.IPython}}) was used for python hacking.

If you are more curious, the entire source code and articles are available at [GitHub]({{links.RingceGitHub}})

I have a huge laundry list of things that I want to get fixed on this website. Keep checking the code and/or the site for updates.

### About Me ###

I am a decent programmer trying hard to be a good designer as well. When my mind is at peace, I write tamil poetry [Website down at present].

Love:

- Programming: Python, Javascript and Objective-C right now. But this list varies every six months
- All things Apple
- Open Source
- Fairness
- [Tamil]({{links.Tamil}})

Hate:

- All things Microsoft
- DRM
- Paperwork
- Politics(Not the talking, the playing)

More:
<span class="social_badges">

- [Twitter]({{links.Twitter}})
- [Facebook]({{links.Facebook}})
- [FriendFeed]({{links.Flickr}})
- [LinkedIn]({{links.LinkedIn}})
- [Delicious]({{links.Delicious}})
- [Flickr]({{links.Flickr}})
- [GitHub]({{links.GitHib}})
- [Ohloh]({{links.Ohloh}})

</span>

{% endblock %}