{% extends "skeleton/_root.html" %}
{% hyde

    title: Slammer
    created: 2009-03-15 01:57:12

%}

{% block all %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Slammer</title>
    <link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{{site.url}}/media/css/slammer.css" type="text/css" media="screen" charset="utf-8"/>  
    <link rel="stylesheet" type="text/css" href="{{site.url}}/media/css/jquery.lightbox-0.5.css" media="screen" />    
    <script type="text/javascript" src="{{site.url}}/media/js/jquery.js"></script>    
    <script type="text/javascript" src="{{site.url}}/media/js/jquery.lightbox-0.5.pack.js"></script>
    <script type="text/javascript">
    $(function() {
        $('.lb').lightBox({
             imageLoading:'{{site.url}}/media/images/lightbox-ico-loading.gif',      
                imageBtnPrev:'{{site.url}}/media/images/lightbox-btn-prev.gif',         
                imageBtnNext:'{{site.url}}/media/images/lightbox-btn-next.gif',         
                imageBtnClose:'{{site.url}}/media/images/lightbox-btn-close.gif',        
                imageBlank:'{{site.url}}/media/images/lightbox-blank.gif',            
        });
    });
    </script>
</head>
<body>
  <div class="slammer-page">  
    <div class="slammer-header">
        <div class="slammer-logo">  
          <img                    
        src="{{site.url}}/media/images/Slammer-Icon2_128x128.png"/>
        </div>
        <div class="heading">
            <h1>Slammer</h1>
            <div class="subtitle">Now, the matrix is everywhere.</div>
        </div>
        <div class="ringce-logo">
            <a href="{{site.listing_url}}">
                <img src="{{site.url}}/media/images/ringce-icon.png">
            </a>    
        </div>    
    </div> 
    <div class="slammer-bar">
        <div class="slammer-info">
            <span>Leopard Only</span>
            <span class="slammer-download">
                <a href="{{links.Slammer.Download}}">Free Download</a>
            </span>
            <span>Version: 0.3 Beta</span>
        </div>    
    </div> 
    <div class="slammer-content">
        <div class="left-column">   
            <p>
                <a href="{{site.url}}/media/images/slammer-cap.png" class="lb">
                    <img class="cap" src="{{site.url}}/media/images/slammer-cap.png"/></a>
                    </p>
        </div>    
        <div class="left-column">
            <h2>Grid for any application</h2>
            <p>
                <h3>Are you:</h3>       
                <p>
                    Designing a web page? <br/>
                    Designing for the Mac?<br/>
                    Designing an iPhone App?<br/>         
                </p>
                <h3>You need Slammer.</h3>      
                <p>
                    Generate a grid.<br/> 
                    Drag the grid on top of your design tool.<br/> 
                    Push those pixels until they line up with the grid.
                <p>
            </p>
        </div>
        <div class="right-column">
            <h2>What are they saying?</h2>
<p>            <ul>
                <li>
                    <a href="http://twitter.com/mattwiebe">
                    mattwiebe</a>: If you design with grids and use a Mac, you should definitely be using Slammer...Intensely useful.
                </li>
                <li> 
                    <a href="http://twitter.com/carlrafting">
                    carlrafting</a>: Wowzer: Slammer
                </li>                                     
                <li>
                    <a href="http://twitter.com/dubsak">                    
                    dubsak</a>: Slammer - Put a grid over any window. This just made life a little nicer...
                </li> 
                <li>
                    <a href="http://twitter.com/aisleone">
                    aisleone</a>: A simple but very useful Mac OS X app that superimposes a customizable grid over any window
                </li>    
            </ul>
</p>        </div>
        <div class="right-column">
            <h2>Completely customizable</h2>
            <p>
            <ul>
                <li>Change the background color and the grid color according to the application background so that the grid is prominent yet non-intrusive.</li>
               <li>Change the grid dimensions to suit your applications.</li>
               <li>Add multiple grids for fine tuning your design.</li>
               <li>Save your favorite grids as presets for future use.</li>
               <li>Share your grids with other designers.</li>
            </ul></p>
        </div>   
        <div class="left-column">
            <h2>Position it with ease</h2>
            <p>
               Slammer has excellent keyboard support for precise positioning and alignment. 
               <ul>
                   <li>Position the grid using the arrow keys.</li>
                   <li>Resize the grid using shift + arrow keys.</li>
            </p>
        </div>
        <div class="right-column">
            <h2>Coming Soon...</h2>
            <p><ul>
                <li>Automatic positioning</li>
                <li>Built in Ruler</li>
            </ul>
        </div>                      
        <div class="clear"></div>
    </div>
 </div>   
 <div class="slammer-footer">
     <a href="http://twitter.com/friendships/create/lakshmivyas">
         <img src="{{site.url}}/media/images/followme.gif">
      </a>
      <a href="http://getsatisfaction.com/ringce"><img alt="Badge_logo_small" src="http://getsatisfaction.com/images/badges/badge_logo_small.png" /></a>
 </div>    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-322025-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>
{% endblock %}