{% extends "skeleton/body.html" %}
{% block extra_css %}<link type="text/css" rel="stylesheet" href="{{media}}/css/SyntaxHighlighter.syn"></link>{% endblock %}
{% block extra_js %}
<script language="javascript" src="{{media}}/js/shCore.js"></script>
<script language="javascript" src="{{media}}/js/shBrushjScript.js"></script>
{% block extra_extra_js %}{% endblock %}
<script type="text/javascript" charset="utf-8">
 $(function(){
	dp.SyntaxHighlighter.ClipboardSwf = '{{media}}/flash/clipboard.swf';
	dp.SyntaxHighlighter.HighlightAll('code');
	{% block ready_function %}
	{% endblock %}
});
</script>
{% endblock %}
{% block content_body %}
<div id="article-content">
	{% include "open-source_meta.html" %}
	{% block article%}{% endblock %}
</div>
{% endblock %}