{% extends "skeleton/body.html"%}
{% block content_body %}
<div class="page_listing">
{% for folder in page.subfolders %}
{% if folder.pages %}
{%ifnotequal {{folder.name}} {{page.title}} %}
<h2><a href="{{folder.url}}">{{folder.name}}</a></h2>
{% endifnotequal %}
{% block directory_content %}{% endblock %}
{% for page in folder.pages %}
{% if page.title %}
<ul>
	<li>
		<h4><a href="{{page.page_url}}">{{page.title}}</a></h4>
		{% block page_content %}{% endblock %}
	</li>
</ul>{% endif %}{% endfor %}{%endif%}{% endfor %}
</div>
{% endblock %}