{% extends "skeleton/body.html"%}
{% block content_body_before %}{% endblock %}
{% block content_body %}
<div class="page-listing">
{% for folder in page.subfolders %}
{% if folder.pages %}
{%ifnotequal {{folder.name}} {{page.title}} %}
<h2><a href="{{folder.url}}">{{folder.name}}</a></h2>
{% endifnotequal %}
{% block directory-content %}{% endblock %}
{% for page in folder.pages %}
{% if page.title %}
<ul>
	<li>
		{% block page-heading %}<h4><a href="{{page.page_url}}">{{page.title}}</a></h4>{% endblock %}
		{% block page-content %}{% endblock %}
	</li>
</ul>{% endif %}{% endfor %}{%endif%}{% endfor %}
</div>
{% endblock %}
{% block content_body_after %}{% endblock %}
