
footer{
    position: absolute;
    bottom: 0;
    display: block;
    width: inherit;
    height: @column;
    .colophon {
        margin: 0 auto;
        font-size: small;
        text-align: center;
        text-shadow: @dark 0px 1px 0px;

        p{
            a {
                text-shadow: 1px 0px 0px @shade;
                color: @darker;
            }
        }
    }
}