@qdark: rgba(0,0,0,0.5);
/* Green Theme */

/*@darkest: #000;
@darker: #11130e;
@dark: #8a9c62;
@dark1: @dark;
@shade: #2b4d2a;
@glowing: #2bb3a0;
@light: #f0ffd8;
@clear: #fff;
@twitterbird: '{{ media_url('images/twitter_g.png') }}';*/

/* Interpreted Green */


@darkest: #000;
@darker: #444;
@dark: #497c55;
@dark1: @dark;
@shade: #453F19;
@glowing: #CD3B16;
@light: #d4ffe3;
@clear: #e1e5be;
@twitterbird: '{{ media_url('images/twitter_g.png') }}';


/* Lighter green */
/*
@darkest: #604848;
@darker: @darkest + 40;
@dark: #607848;
@dark1: #A9A386;
@shade: @dark - 20;
@glowing: #CD3B16;
@light: #F0F0D8;
@clear: #fff;
@twitterbird: '{{ media_url('images/twitter_g.png') }}';
*/


/* Military */

/*
@darkest: #222;
@darker: @darkest + 40;
@dark: #1A1F1E;
@dark1: @dark;
@shade: @dark - 30;
@glowing: #000;
@light: #C8D6BF;
@clear: #E3DFBA;
@twitterbird: '{{ media_url('images/twitter_g.png') }}';
@qdark: rgb(155, 155, 155, 0.5);
*/

/* Yellow Orange */

/*

@darkest: #11130e;
@darker: #412115;
@dark: #a25632;
@dark1: @dark;
@shade: #5e312a;
@light: #fdf6bd;
@clear: #fbffe8;
@glowing: #f8562f;
@twitterbird: '{{ media_url('images/twitter_o.png') }}';

*/