@qdark: rgba(0,0,0,0.5);
/* Interpreted Green */


@darkest: #010202;
@darker: #132016;
@dark: #497c55;
@dark1: @dark;
@shade: #453F19;
@glowing: #CD3B16;
@light: #d4ffe3;
@clear: #e1e5be;
@twitterbird: '{{ media_url('images/twitter_lg.png') }}';
