body{
    width: @totalwidth;
    min-height: 1200px;
}

.pane{
    min-height: 1080px;
    float:left;
    padding: 0 @gutter * 2 + 2;
    margin: 2px 0 0;
}

#leftpane{
    width: @pane1 - @gutter * 7;
    background-color: @clear;
   .boxshadow(@gutter, @gutter, @gutter * 2, @shade);
   .pane;
   border-left: @gutter dashed @dark;
   padding-left: @gutter * 3;
   margin-left: @gutter * -1/2;
   .radius(@gutter);
}

#rightpane{
    width: @pane2 - @gutter * 4;
    .pane;

    footer small{
        display:block;
        padding-top: @gutter;
        color: @qdark;
        padding-left: @gutter * 2;
        font-variant: italic;
        font-size: small;
        text-shadow: @dark 0px 1px 0px;

        a {
            text-shadow: 1px 0px 0px @shade;
            color: @qdark;
        }
    }
}

footer nav{
    position: fixed;
    font-size: @gutter * 3;
    bottom: 0;
    color: @dark - 20;
    height: @gutter * 5;
    @padding-left: @gutter * 5;
    z-index: -10;
    li {
        display:inline;
        font: @heading-font;
        text-shadow: -1px -1px 0px @dark - 40, 1px 1px 0px @dark + 40;
        &:before {
            content: "/";
            color: @shade;
            text-shadow: 1px 1px 0px @darkest;
            padding: 0 @gutter * 2 0 @gutter;
        }

        &:first-child:before {
            content: "";
        }
    }
}

