#body{
    min-height: 1200px;
}

#container{
    width: @totalwidth;
    margin: 0 auto @gutter * 8;
    background-color: @dark;
}

.pane{
    min-height: 1100px;
    float:left;
    padding: 0 @gutter * 2 + 2;
    margin: 2px 0 0;
}

#leftpane{
    background-color: @clear;
    width: @pane1 - @gutter * 7;
   .boxshadow(@gutter, @gutter, @gutter * 2, @shade);
   .pane;
   padding-left: @gutter * 3;
   padding-top: @gutter;
   margin-top: @gutter * -1;
   .radiusBottom(@gutter);
   margin-right: @gutter * 3;
}

#rightpane{
    width: @pane2 - @gutter * 4;
    .pane;
    position: relative;
    footer small{
        position: absolute;
        display:block;
        width: @pane2 - @gutter * 4;
        bottom: 0;
        color: @qdark;
        font-size: small;
        text-align: center;
        text-shadow: @dark 0px 1px 0px;
        a {
            text-shadow: 1px 0px 0px @shade;
            color: @qdark;
        }
    }
}

header nav{
    font-size: @gutter * 1.5;
    padding-top: @gutter;
    li {
        display:inline;
        padding:0;
        margin:0;
        a {
            font: @heading-font;
            text-shadow: -1px -1px 0px @clear - 40, 1px 1px 0px @clear + 40;
            color: @shade;

            &:hover {
                color: @dark;
                text-decoration: none;
                text-shadow: -1px -1px 0px @clear - 20, 1px 1px 0px @clear + 20;
            }
        }
        &:before {
            content: "/";
            color: @shade;
            text-shadow: 1px 1px 0px @darkest;
            padding: 0 @gutter 0 0;
        }

        &:first-child:before {
            display:none;
            content: "";
            margin:0
            padding: 0;
            width:0;
        }
    }
}

