.tweet .awesome,
.tweet .epic{
    text-transform: uppercase;
}

.tweet li{
    overflow: hidden;
    line-height: @gutter * 2;
    padding: @gutter;
}

.tweet{
    .boxshadow(-3px, -4px, 4px, @shade);
    background: url(@twitterbird) no-repeat left top;
    padding: @gutter * 1.5 @gutter * 2 0;
    font-weight: 300;
}