.tweet .awesome,
.tweet .epic{
    text-transform: uppercase;
}

.tweet li{
    overflow: hidden;
    padding: 0 @gutter * 2 @gutter;
}

.tweet{
    .boxshadow(-3px, -4px, 4px, @shade);
    background: url(@twitterbird) no-repeat -6px -7px;
    min-height: @gutter * 7;
    padding: @gutter * 1.5 0 0;
}

.tweet_time{
    font-size: @gutter;
    position: absolute;
    a {
        color: @shade;
        text-shadow: none;
        &:hover{
            color: @glowing;
            text-shadow: none;
            text-decoration: none;
        }
    }
}

.tweet_text{
    display: inline-block;
    padding-left: @gutter * 10;
    font-size: @gutter;
}